@import "tailwindcss";

/* html {
  scroll-behavior: smooth;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --newsletter-text-size: 0.75rem;
  --newsletter-logo-size: 1.63rem;
  --main-con-text-size: 4.16rem;
  --sub-text-size: 1.3rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-newsletter-bg: #000000;
  --color-newsletter-text: #ffffff;
  --color-display-text: #555555;
  --color-bg-section-color: #03570d;
  --color-display-items: #ffd700;
  --color-logo-con-gradient-color: #545454;
  --color-green-section: #5a8c60;
  --color-green-section-opacity: 5%;
  --color-gold-section-color: #ab9102;
  --color-gold-section-second-color: #b89e0d;
  --color-form-button-color: #8a7607;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-main: var(--font-cardo);
  --font-brico: var(--font-bricolage);
  --font-cinz: var(--font-cinzel);
  --font-space: var(--font-space);
  --font-hanken: var(--font-hanken);
  --font-cabin: var(--font-cabin);
  --font-schib: var(--font-schibsted);
  --font-caglio: var(--font-cagliostro);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
